numpy==2.0.2
pandas==2.2.3
tensorflow==2.18.0
flask==3.1.0
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.2
streamlit==1.40.1
requests==2.32.3
pillow==10.4.0
joblib>=1.1.1
h5py==3.12.1
tqdm==4.66.5
protobuf==5.28.3
pydantic>=2.7.0
